{% extends "layout.html" %}
{% block body %}

<div>
    <h2>Add a Task</h2>
    <form action="/" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Task Title</label>
          <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Status</label>
          <input type="password" class="form-control" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock  %}