
{% extends "layout.html" %}
{% block body %}
<div>
  <h2>Add a Task</h2>
  <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Task Title</label>
        <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Status</label>
        <input type="text" class="form-control" name="desc" id="desc">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<hr>
<hr>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for task in alltasks %}
          <tr>
            <th scope="row">{{task.sno}}</th>
            <td>{{task.title}}</td>
            <td>{{task.desc}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
    {% endblock  %}